<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/favicon.jpg" />
        <link rel="stylesheet" href="/css/style.css"/>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <form>
                <input type="text" name="address" placeholder="Location" />
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        <script type="text/javascript" src="/js/app.js"></script>
        {{>footer}}
    </body>
</html>